@import "tailwindcss";

@theme {
  --color-primary: #CE1126;
  --color-accent: #FFCC00;
  --color-dark: #000000;
  --color-neutral-bg: #f9f9f9;
  --color-footer-bg: #1a1a1a;
  --font-serif: "Merriweather", serif;
  --font-sans: "Inter", sans-serif;
  --radius: 0.125rem;
  --radius-md: 0.25rem;
  --radius-lg: 0.375rem;
  --radius-xl: 0.5rem;
}

@layer base {
  body {
    min-height: max(884px, 100dvh);
  }
}
